<h1> <%= @user.name %>'s Account </h1>

<h3>My Reservations</h3>
<% @reservations.each do |reservation| %>
  <p>Reservation for <%= reservation.restaurant.name %></p>
  <p>at <%= reservation.time %></p>
  <p>on <%= reservation.date %></p>
  <p>for <%= reservation.size %> guests</p>
  <p><%= link_to 'Edit Reservation', edit_restaurant_reservation_path(reservation.restaurant, reservation) %></p>
  <p><%= link_to('Cancel Reservation?', restaurant_reservation_path(reservation.restaurant_id, reservation), method: :delete, data: {:confirm => "Are you sure?"}) %></p>
<% end %>
