<h1> <%= @user.name %>'s Account </h1>

<h3>My Reservations</h3>
<% @reservations.each do |reservation| %>
  <p> <%= link_to "Reservation for #{reservation.restaurant.name}", restaurant_reservation_path(reservation.restaurant, reservation) %> </p>
  <p>at <%= reservation.display_res_time %> on <%= reservation.display_res_date %></p>
  <p><%= link_to 'Edit Reservation', edit_restaurant_reservation_path(reservation.restaurant, reservation) %></p>
  <p><%= link_to('Cancel Reservation?', restaurant_reservation_path(reservation.restaurant_id, reservation), method: :delete, data: {:confirm => "Are you sure?"}) %></p>
<% end %>
