<h1>Seat Yourself</h1>
<%= current_user %>
<h2>Get a seat quick...</h2>

<p><%= link_to("Are you a restaurant owner? Add your restaurant!", "restaurants/new") %></p>

<p>
<% @restaurants.each do |restaurant| %>

  <p><%= link_to("#{restaurant.name}", restaurant_path(restaurant)) %></p>
  <p>Address: <%= restaurant.location %></p>
  <p>Capacity: <%= restaurant.capacity %></p>
<% end %>
</p>
