<p> <% if @restaurant.users == current_user %>
    <%= link_to "Edit: menu, hours, or address", edit_restaurant_path %>
    <% end %> </p>

<h3><%= @restaurant.name %></h3>

<p> <%= @restaurant.description %> </p>
<p>Address: <%= @restaurant.location %></p>
<p>Hours: <%= @restaurant.open_time %> - <%= @restaurant.close_time %> </p>

<h3><%= link_to "Make a reservation?", new_restaurant_reservation_path(@restaurant) %></h3>

<p>Price Range: <%= @restaurant.price_range[0].price %> - <%= @restaurant.price_range[-1].price %></p>

<h3>Menu</h3>
<% @restaurant.food_items.each do |item| %>
  <p><%= item.name %>: <%= item.price %></p>
  <p><%= item.description %></p>
<% end %>
