<h1><%= @restaurant.name.capitalize %></h1>
<p> <%= link_to "Home", root_url %> </p>

<h3><%= @restaurant.name %></h3>
<p><%= image_tag(@restaurant.image_url) %></p>
<p> <%= @restaurant.description %> </p>
<p>Address: <%= @restaurant.location %></p>
<p>Hours: <%= @restaurant.open_time %> - <%= @restaurant.close_time %> </p>

<p>Price Range: <%= @restaurant.price_range[0].price %> - <%= @restaurant.price_range[-1].price %></p>

<h3>Menu</h3>
<% @restaurant.food_items.each do |item| %>
  <p><%= item.name %>: <%= item.price %></p>
  <p><%= item.description %></p>
<% end %>
