<h1>Restaurant show</h1>
<p> <%= link_to "back to Reservations" "/reservations" %> </p>


<img src="" alt="">
<p> <%= @restaurant.name %> : <%= @restaurant.location %>
    <%= @resturant.open %>- <%= @resturant.close %> </p>
