<h1><%= @restaurant.name.capitalize %></h1>
<p> <%= link_to "Home", root_url %> </p>
<p> <%= link_to "Edit", edit_restaurant_path %> </p>

<h3><%= @restaurant.name %></h3>

<p> <%= @restaurant.description %> </p>
<p>Address: <%= @restaurant.location %></p>
<p>Hours: <%= @restaurant.open_time %> - <%= @restaurant.close_time %> </p>

<h3>Reservation Times</h3>
<ul>
  <div class="time_list_wrapper">
    <% @restaurant.available_times.each do |time_slot| %>
      <span class='time_slot_wrapper'><%= time_slot %></span>
    <% end %>
  </div>
</ul>


<p>Price Range: <%= @restaurant.price_range[0].price %> - <%= @restaurant.price_range[-1].price %></p>

<h3>Menu</h3>
<% @restaurant.food_items.each do |item| %>
  <p><%= item.name %>: <%= item.price %></p>
  <p><%= item.description %></p>
<% end %>
