<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <p>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "Logout", sessions_path, method: :delete %>
  </p>
  Hello <%= current_user.name %>
<% else %>
  <p>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "Sign Up", new_user_path %>
    |
    <%= link_to "Log In", new_sessions_path %>
  </p>
  Please login to make a reservation.
<% end %>

<p> <%= flash[:alert] %> </p>

<%= yield %>

</body>
</html>
