<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_tag(restaurants_look_for_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>

<% if current_user %>
  <p>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "Logout", sessions_path, method: :delete %>
  </p>
  Hello <%= current_user.name %>
<% else %>
  <p>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "Sign Up", new_user_path %>
    |
    <%= link_to "Log In", new_sessions_path %>
  </p>

<% end %>

<p style="background-color: red"> <%= flash[:alert] %> </p>
<p> <%= flash[:success] %> </p>

<%= yield %>

</body>
</html>
